---
import Image from "../image.astro";
import "./card-project.css";

const { title, type, description, url } = Astro.props;
const slug = url.split("/").at(-1);
---

<article class="card-project">
  <a href={url}>
    <Image
      src={`projects/${slug}/${slug}-cover`}
      alt={`Imagen de portada: ir al proyecto ${title}`}
      className="card-project__cover"
      width="500"
      loading="eager"
      maxWidth={536}
    />
  </a>
  <div class="card-project__info">
    <strong class="card-project__type">{type}</strong>
    <h3 class="card-project__title">
      <a href={url}>{title}</a>
    </h3>
    <p class="card-project__description">{description}</p>
    <a href={url} class="button inline">Más sobre el proyecto</a>
  </div>
</article>
