---
const { title, type, description, url } = Astro.props;

import "./card-project.css";

const slug = url.split("/").at(-1);
---

<article class="card-project">
  <img
    src={`/images/projects/${slug}/${slug}-cover.webp`}
    alt=""
    class="card-project__cover"
  />
  <div class="card-project__info">
    <strong class="card-project__type">{type}</strong>
    <h3 class="card-project__title">
      <a href={url}>{title}</a>
    </h3>
    <p class="card-project__description">{description}</p>
    <a href={url} class="button ghost">Más sobre el proyecto</a>
  </div>
</article>
