---
import BaseLayout from "../layouts/base-layout.astro";
import CardPost from "../components/card-post/card-post.astro";
import CardProject from "../components/card-project/card-project.astro";
import Hero from "../components/hero/hero.astro";

let allPosts = await Astro.glob("./blog/*.md");
let highlightedProjects = await Astro.glob("./es/proyectos/*.mdx");
---

<style>
  h2 {
    margin-bottom: 0.75rem;
    color: var(--blue-300);
    font-size: var(--fs-3xlarge);
    font-weight: var(--fw-bold);
  }

  :global(body.dark) h2 {
    color: var(--blue-100);
  }

  div {
    display: grid;
    width: 100%;
    gap: 2.25rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  :global(div .card-post) {
    flex: 1 1 auto;
  }
</style>

<BaseLayout title="Inicio | ferdinandalexa">
  <main>
    <Hero />
    <section>
      <h2>Proyectos destacados</h2>
      <div style="display: flex; flex-direction: column; gap: 4.5rem">
        {
          highlightedProjects
            .filter((project) => project.frontmatter.highlighted)
            .sort((a, b) => a.frontmatter.top - b.frontmatter.top)
            .map((project) => {
              return (
                <CardProject
                  type={project.frontmatter.type}
                  title={project.frontmatter.title}
                  description={project.frontmatter.description}
                />
              );
            })
        }
      </div>
    </section>
    <h2>Artículos recientes</h2>
    <div>
      {
        allPosts
          .slice(0, 3)
          .filter((post) => !post.frontmatter.draft)
          .map((post) => (
            <CardPost
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              date={post.frontmatter.date}
              url={post.url}
            />
          ))
      }
    </div>
  </main>
</BaseLayout>
