---
import BaseLayout from "../layouts/base-layout.astro";
import CardPost from "../components/card-post/card-post.astro";
import CardProject from "../components/card-project/card-project.astro";
import Hero from "../components/hero/hero.astro";

let allPosts = await Astro.glob("./es/blog/*.md");
let highlightedProjects = await Astro.glob("./es/proyectos/*.mdx");
---

<BaseLayout title="Inicio | ferdinandalexa">
  <main>
    <Hero />
    <section aria-labelledby="highlighted-projects-section" class="section">
      <h2 id="highlighted-projects-section" class="section__title">
        Proyectos destacados
      </h2>
      <div class="list-container">
        {
          highlightedProjects
            .filter((project) => project.frontmatter.highlighted)
            .sort((a, b) => a.frontmatter.top - b.frontmatter.top)
            .map((project) => {
              return (
                <CardProject
                  type={project.frontmatter.type}
                  title={project.frontmatter.title}
                  description={project.frontmatter.description}
                  url={project.url}
                  slug={project.frontmatter.slug}
                />
              );
            })
        }
        <a href="/es/proyectos" class="button ghost">Ver más proyectos</a>
      </div>
    </section>
    <section aria-labelledby="latest-posts" class="section">
      <h2 id="latest-posts" class="section__title">Artículos recientes</h2>
      <div class="list-container two-columns">
        {
          allPosts
            .slice(0, 3)
            .filter((post) => !post.frontmatter.draft)
            .map((post) => (
              <CardPost
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                date={post.frontmatter.date}
                url={post.url}
              />
            ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
