---
import getReadingTime from "reading-time";
import BaseLayout from "../layouts/base-layout.astro";

const {
  content: { title, slug, date, description },
} = Astro.props;

const rawContent = Astro.props.rawContent();

const minutes = Math.round(getReadingTime(rawContent).minutes);

const datePublish = new Date(date).toLocaleDateString("es", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<style is:inline>
  h1,
  h2,
  h3 {
    color: var(--blue-300);
  }

  body.dark h1,
  body.dark h2,
  body.dark h3 {
    color: var(--blue-100);
  }

  main h1 {
    margin-top: 1.25rem;
    font-size: var(--fs-3xlarge);
  }

  main h2 {
    margin-top: 1.5rem;
    font-size: var(--fs-xlarge);
  }

  main h3 {
    margin-top: 1.75rem;
    font-size: var(--fs-large);
  }

  main p {
    margin: 0.75rem 0;
    color: var(--blue-500);
    font: var(--body-medium);
    line-height: 1.5;
  }

  body.dark main p {
    color: var(--blue-50);
  }

  main a {
    color: var(--blue-300);
  }

  main a:hover {
    color: var(--blue-50);
  }

  body.dark main a {
    color: var(--blue-200);
  }

  body.dark main a:hover {
    color: var(--blue-50);
  }

  main ul,
  main ol,
  main li {
    margin-left: 1rem;
    color: var(--blue-300);
    font-size: var(--fs-base);
    list-style: unset;
  }

  body.dark main ul,
  body.dark main ol,
  body.dark main li {
    color: var(--blue-50);
  }

  main pre {
    width: 100%;
    max-width: 90vw;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    margin-left: -0.1rem;
  }

  main pre code {
    margin: 0;
    font-family: var(--ff-mono);
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    letter-spacing: 0.05ch;
    overflow-x: auto;
  }

  main p code {
    padding: 0.75ch;
    border-radius: 0.25rem;
    background-color: var(--blue-50);
    color: var(--blue-500);
    font-family: var(--ff-mono);
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
  }

  body.dark p code {
    background-color: var(--blue-500);
    color: var(--blue-50);
  }
</style>

<style>
  h1 {
    margin-bottom: 0.5rem;
  }

  time,
  span {
    color: var(--blue-500);
    font-size: var(--fs-small);
  }

  :global(body.dark) time,
  :global(body.dark) span {
    color: var(--blue-50);
  }

  time::after {
    margin: 0 0.45rem;
    content: "\00B7";
    opacity: 0.5;
  }
</style>

<BaseLayout
  title={`${title} | ferdinandalexa`}
  description={description}
  slug={slug}
>
  <main>
    <header>
      <h1>{title}</h1>
      <time datetime={date}>{datePublish}</time>
      <span>{minutes} min de lectura</span>
    </header>
    <slot />
  </main>
</BaseLayout>
