---
import ProjectHeader from "../components/project-header/project-header.astro";
import BaseLayout from "./base-layout.astro";

const {
  url,
  content: { title, type, description, tools, demo },
} = Astro.props;
---

<style>
  div,
  main {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
  }

  main {
    margin-top: 6rem;
  }
</style>

<style is:global>
  h3 {
    color: var(--blue-300);
  }

  html[scheme-mode="dark"] :is(h3) {
    color: var(--blue-100);
  }
</style>

<BaseLayout
  title={`${title} | ferdinandalexa`}
  description={description}
  slug={url}
>
  <main>
    <ProjectHeader
      type={type}
      title={title}
      description={description}
      tools={tools}
      url={url}
      demo={demo}
    />
    <section aria-labelledby="process" class="section">
      {
        type.includes("UX/UI") && (
          <h2 id="process" class="section__title">
            Proceso
          </h2>
        )
      }
      <div>
        <slot />
      </div>
    </section>
  </main>
</BaseLayout>
